#app {
    height: 100%;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: 
      "sidenav content tagnav"
    }
    #sidenav #content #tagnav{
        border: 1px solid black;
    }
#sidenav{
    grid-area: sidenav;
}
#content{
    grid-area: content;
}
#tagnav{
    grid-area: tagnav;
}